@mixin requirement($color, $border-color, $icon-color, $svg-elements...) {
	border-color: #{$border-color};
	color: #{$color};

	input[ type='text' ] {
		color: #{$color};
	}

	.tag {
		.requirement {
			> svg.icon {
				#{$svg-elements} {
					stroke: #{$icon-color};
				}
			}

			> svg.chevron {
				path {
					stroke: #{$icon-color};
				}
			}
		}
	}
}

.orch-keyword-tag {
	border: 2px solid;
	border-radius: 5px;
	width: 242px;

	&.empty {
		@include arcticBlueDarkWrapper($border-radius: 5px);

		color: $steel-blue;
		font-family: $lato-medium-italic;
		font-size: 12px;
		line-height: 28px;
		padding: 0px 10px;
		width: 246px !important;

		&:hover {
			background-color: $arctic-blue-dark;
			color: $dusk-blue;
			cursor: pointer;
		}
	}

	&.preview {
		width: 165px !important;

		&.thumbnail {
			width: 195px !important;

			.tag {
				.keyword {
					width: 112px !important;
				}
			}
		}

		.tag {
			.keyword {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				width: 108px !important;
			}
		}
	}

	&.exclude,
	&.locked,
	&.neutral,
	&.no-network-and-requirement,
	&.stream {
		border-color: $pure-white;
		font-size: 14px;
		height: 30px;
		width: 242px;

		&.edit {
			@include shadow();

			.tag {
				.keyword {
					border-bottom-right-radius: 3px;
					border-top-right-radius: 3px;
					width: 185px;

					&:hover {
						background-color: $pure-white;
					}
				}
			}
		}
	}

	&.exclude {
		@include requirement($watermelon, $watermelon-dark, $watermelon-dark, 'g');
	}

	&.locked {
		@include requirement($dusk-blue, $dusk-blue, $dusk-blue, 'g');
	}

	&.no-network-and-requirement {
		.tag {
			.keyword {
				border-radius: 3px;
				width: 197px;

				input[ type='text' ] {
					width: 220px !important;
				}
			}
		}
	}

	&.selected {
		box-shadow: 0 0 0 2px $IP-blue;

		.tag {
			img {
				border-bottom-left-radius: 1px;
				border-top-left-radius: 1px;
			}
		}
	}

	&.neutral,
	&.stream {
		@include requirement($mid-blue, $IP-blue, $IP-blue, 'path');
	}

	&.stream {
		.tag {
			.requirement {
				&:hover {
					background-color: $pure-white;
					cursor: default;
				}
			}
		}
	}

	&.no-delete {
		.tag {
			.keyword {
				width: 185px;
				border-bottom-right-radius: 3px;
				border-top-right-radius: 3px;
			}
		}

		&.thumbnail {
			.tag {
				.keyword {
					width: 159px;
				}
			}
		}
	}

	&.thumbnail {
		.tag {
			.keyword {
				width: 125px;
			}
		}
	}

	&.disabled {
		@include requirement($cloudy-blue-grey, $arctic-blue-dark, $cloudy-blue-grey, 'path', 'g');

		color: $mid-blue;
		padding: 0px;

		&:hover {
			color: $mid-blue;
		}
	}

	.tag {
		border-radius: 3px;
		position: relative;

		.delete,
		.keyword,
		.network,
		.requirement {
			background-color: $pure-white;
			cursor: pointer;
			display: inline-block;
			float: left;

			&:hover {
				background-color: $arctic-blue;
			}
		}

		.delete,
		.network,
		.requirement {
			height: 22px;
		}

		.delete {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			padding-bottom: 4px;
			padding-left: 6px;
			padding-right: 4px;
			padding-top: 4px;
			width: 24px;

			svg {
				height: 22px;
				width: 22px;

				path {
					stroke: $cloudy-blue-grey;
				}
			}

			&:hover {
				svg {
					path {
						stroke: $dusk-blue;
					}
				}
			}
		}

		img {
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			height: 30px;
			float: left;
			width: 73px;

			&:hover {
				cursor: pointer;
			}
		}

		.keyword {
			font-family: $lato-regular;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			padding-left: 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 151px;

			input[ type='text' ] {
				font-family: $lato-regular;
				font-size: 14px;
				width: 181px;
			}

			.option-display {
				padding-left: 14px;
				text-transform: capitalize;
			}

			.orch-menu,
			.orch-generic-menu {
				@include shadow($y: 5px);

				padding-top: 0px;
				top: 31.5px;
				z-index: 9999;

				.options {
					> div {
						padding-left: 8px;
					}
				}
			}

			> svg.chevron {
				position: relative;
				top: -1px;
			}

			@include placeholder('input', $cloudy-blue-grey, $lato-medium-italic, 12px);

			&.invalid {
				> span {
					background: $watermelon;
					color: $pure-white;
					padding: 1px 4px;
				}
			}
		}

		.network,
		.requirement {
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			padding-bottom: 5px;
			padding-left: 6px;
			padding-right: 4px;
			padding-top: 3px;
			position: relative;
			width: 37px;

			> span {
				color: $IP-blue;
				font-family: $lato-regular;
				font-size: 14px;
				left: 5px;
				position: relative;
				top: 4px;
			}

			svg {
				height: 24px;
				width: 24px;

				&.chevron {
					height: 5px;
					left: 32px;
					position: absolute;
					top: 14px;
					width: 10px;
				}
			}

			.orch-menu,
			.orch-generic-menu {
				@include shadow($y: 5px);

				padding-top: 0px;
				top: 30.5px;
				z-index: 9999;

				.options {
					> div {
						padding-left: 8px;
					}
				}
			}
		}

		.network {
			border-right: 2px solid $arctic-blue-dark;
			padding-left: 4px;
		}
	}

	&.network-and-requirement {
		.tag {
			.keyword {
				width: 104px;
			}

			.requirement {
				border-bottom-left-radius: 0px;
				border-top-left-radius: 0px;

				.orch-menu,
				.orch-generic-menu {
					width: 195px !important;
				}
			}
		}

		&.edit {
			.tag {
				.keyword {
					width: 138px !important;

					input[ type='text' ] {
						width: 134px !important;
					}
				}
			}
		}
	}

	&.option-and-requirement {
		.requirement {
			border-right: 2px solid $arctic-blue-dark;
			padding-left: 4px;
		}

		.keyword {
			padding-left: 4px;
			width: 157px;

			.orch-menu,
			.orch-generic-menu {
				width: 198px;
				left: 45px;
			}
		}
	}
}