button {
	&.primary {
		&.brand {
			@include primaryNegativeAlternativeItem();

			&.active {
				background-color: $dusk-blue;
				border-color: $dusk-blue-dark;
				color: $pure-white;
			}
		}
	}
}