button {
	&.primary {
		&.female {
			@include primaryNegativeAlternative();

			&.active {
				background-color: $female-pink;
				border-color: $female-pink-dark;
				color: $pure-white;
			}
		}
	}
}