.orch-pagination-controls {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.decrease,
	.increase {
		@include duskBlueWrapper();
		cursor: pointer;
		display: inline-block;
		float: left;
		height: 34px;
		padding: 3px 2px;
		width: 32px;

		&.disabled {
			@include disabled($background-color: $pure-white,
				$svg-fill-color: $cloudy-blue-grey,
				$svg-path-color: $cloudy-blue-grey);
		}

		&:hover {
			background-color: $arctic-blue-dark;
		}
	}

	.decrease {
		svg {
			transform: rotate(-90deg);
		}
	}

	.increase {
		svg {
			transform: rotate(90deg);
		}
	}
}