.pill-toggle {
	height: 32px;

	.item {
		border-bottom: 2px solid;
		border-color: $cloudy-blue-grey;
		border-left: 2px solid;
		border-top: 2px solid;
		box-sizing: border-box;
		color: $cloudy-blue-grey;
		display: inline-block;
		font-family: $lato-regular;
		font-size: 14px;
		height: inherit;
		line-height: 30px;
		padding: 0px 20px;

		&.active {
			@include duskBlueWrapper($steel-blue, $pure-white, null);

			& ~ div {
				border-left: 0px;
				border-right: 2px solid;
			}
		}

		&:first-child {
			border-bottom-left-radius: 50px;
			border-top-left-radius: 50px;
		}

		&:last-child {
			border-bottom-right-radius: 50px;
			border-top-right-radius: 50px;
		}

		&:not(.active):hover {
			background-color: $arctic-blue;
			border-color: $cloudy-blue-grey;
			color: $steel-blue;
			cursor: pointer;
		}
	}
}