$padding: 20px;

.orch-stat {
	@include arcticBlueDarkWrapper();

	height: 159px;
	width: inherit;

	.stat {
		height: calc(100% / 2);
		padding: 39px $padding;

		.name,
		.number,
		.value {
			text-align: center;
		}

		.name {
			color: $IP-blue;
			font-family: $lato-regular;
			font-size: 15px;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.number,
		.value {
			color: $dusk-blue;
			font-family: $lato-bold;
			font-size: 45px;
		}
	}

	&.with-widgets {
		padding-right: 0px;

		.stat,
		.widgets {
			float: left;
		}

		.stat {
			width: calc(100% / 2 - (#{$padding} * 2));

			.name,
			.number,
			.value {
				text-align: left;

				&.adjust-top {
					position: relative;
					top: -10px;
				}
			}
		}

		.widgets {
			height: 100%;
			width: calc(100% / 2);
		}
	}
}