/**
 * Color guide
 */

$arctic-blue: #F2F8FD;
$arctic-blue-dark: #DBEBF6;
$cloudy-blue-grey: #CCD4E1;
$dusk-blue: #235f81;
$dusk-blue-dark: #08425C;
$female-pink: #E6BED9;
$female-pink-dark: #D2ABC6;
$goldenrod: #F3D219;
$goldenrod-dark: #F1A91E;
$IP-blue: #60A8D9;
$IP-blue-alt: #79BDE6;
$IP-blue-dark: #4D99C4;
$male-blue: #83D1F2;
$male-blue-dark: #5FB5D3;
$mid-blue: #33749a;
$mint-green: #83CAA3;
$mint-green-dark: #62A57F;
$powder-blue: #AECFEB;
$powder-blue-dark: #98BDDD;
$pumpkin: #F9890A;
$pumpkin-dark: #DE610A;
$pure-white: #FFFFFF;
$pure-black: #000000;
$royal-purple: #A763A8;
$royal-purple-dark: #874989;
$silver: #D7DADD;
$silver-dark: #C6C6C5;
$steel-blue: #84A0BB;
$warm-grey: #919191;
$watermelon: #F15B5C;
$watermelon-dark: #C93A42;