#example {
	margin-top: 20px;
	margin-bottom: 20px;

	h1 {
		color: #aecfeb;
		font-family: 'Lato-bold';
		font-size: 32pt;
		margin-top: 60px;
		text-align: center;
	}

	h2 {
		color: #aecfeb;
		font-family: 'Lato-bold';
		font-size: 24pt;
		text-align: center;
	}
	
	.orch-checkbox {
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.orch-container-12 {
		> div {
			border-bottom: 1px solid #ccd4e1;
			min-height: 100px;
			padding-bottom: 50px;
			padding-top: 50px;
		}
	}
	
	p {
		font-family: 'Lato-bold';
		text-align: left;
	}

	.stat-widget {
		background-color: #CCCCCC;
		height: inherit;
	}

	table {
		border: 2px solid black;
		font-family: 'Lato-bold';
		table-layout: fixed;
		text-align: center;
		width: 100%;
	}
}
