#example {
	margin-top: 20px;
	margin-bottom: 20px;

	h1 {
		color: #aecfeb;
		font-family: 'Lato-bold';
		font-size: 32pt;
		text-align: center;
	}

	.orch-checkbox {
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.orch-container-12 {
		> div {
			border-bottom: 1px solid #ccd4e1;
			min-height: 100px;
			padding-bottom: 50px;
			padding-top: 50px;
		}
	}
}