/**
 * Font families
 */

$lato-black: 'Lato-Black';
$lato-black-italic: 'Lato-Black-Italic';
$lato-bold: 'Lato-Bold';
$lato-bold-italic: 'Lato-Bold-Italic';
$lato-hairline: 'Lato-Hairline';
$lato-hairline-italic: 'Lato-Hairline-Italic';
$lato-heavy: 'Lato-Heavy';
$lato-heavy-italic: 'Lato-Heavy-Italic';
$lato-italic: 'Lato-Italic';
$lato-light: 'Lato-Light';
$lato-light-italic: 'Lato-Light-Italic';
$lato-medium: 'Lato-Medium';
$lato-medium-italic: 'Lato-Medium-Italic';
$lato-regular: 'Lato-Regular';
$lato-semibold: 'Lato-Semibold';
$lato-semibold-italic: 'Lato-Semibold-Italic';
$lato-thin: 'Lato-Thin';
$lato-thin-italic: 'Lato-Thin-Italic';

$raleway-bold: 'Raleway-Bold';
$raleway-extrabold: 'Raleway-Extrabold';
$raleway-extralight: 'Raleway-Extralight';
$raleway-heavy: 'Raleway-Heavy';
$raleway-light: 'Raleway-Light';
$raleway-medium: 'Raleway-Medium';
$raleway-regular: 'Raleway-Regular';
$raleway-semibold: 'Raleway-Semibold';
$raleway-thin: 'Raleway-Thin';

/**
* Lato fonts
*/

@font-face {
	font-family: $lato-black;
	src: url('../fonts/' + $lato-black + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-black + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-black + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-black + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-black + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-black-italic;
	src: url('../fonts/' + $lato-black-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-black-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-black-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-black-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-black-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-bold;
	src: url('../fonts/' + $lato-bold + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-bold + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-bold + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-bold + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-bold + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-bold-italic;
	src: url('../fonts/' + $lato-bold-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-bold-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-bold-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-bold-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-bold-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-hairline;
	src: url('../fonts/' + $lato-hairline + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-hairline + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-hairline + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-hairline + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-hairline + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-hairline-italic;
	src: url('../fonts/' + $lato-hairline-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-hairline-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-hairline-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-hairline-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-hairline-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-heavy;
	src: url('../fonts/' + $lato-heavy + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-heavy + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-heavy + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-heavy + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-heavy + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-heavy-italic;
	src: url('../fonts/' + $lato-heavy-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-heavy-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-heavy-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-heavy-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-heavy-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-italic;
	src: url('../fonts/' + $lato-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-light;
	src: url('../fonts/' + $lato-light + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-light + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-light + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-light + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-light + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-light-italic;
	src: url('../fonts/' + $lato-light-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-light-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-light-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-light-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-light-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-medium;
	src: url('../fonts/' + $lato-medium + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-medium + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-medium + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-medium + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-medium + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-medium-italic;
	src: url('../fonts/' + $lato-medium-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-medium-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-medium-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-medium-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-medium-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-regular;
	src: url('../fonts/' + $lato-regular + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-regular + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-regular + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-regular + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-regular + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-semibold;
	src: url('../fonts/' + $lato-semibold + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-semibold + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-semibold + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-semibold + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-semibold + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-semibold-italic;
	src: url('../fonts/' + $lato-semibold-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-semibold-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-semibold-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-semibold-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-semibold-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-thin;
	src: url('../fonts/' + $lato-thin + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-thin + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-thin + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-thin + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-thin + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $lato-thin-italic;
	src: url('../fonts/' + $lato-thin-italic + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $lato-thin-italic + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $lato-thin-italic + '.woff2') format('woff2'), /* Modern Browsers */
		url('../fonts/' + $lato-thin-italic + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $lato-thin-italic + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/**
* Raleway fonts
*/

@font-face {
	font-family: $raleway-bold;
	src: url('../fonts/' + $raleway-bold + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-bold + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-bold + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-bold + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-extrabold;
	src: url('../fonts/' + $raleway-extrabold + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-extrabold + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-extrabold + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-extrabold + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-extralight;
	src: url('../fonts/' + $raleway-extralight + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-extralight + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-extralight + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-extralight + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-heavy;
	src: url('../fonts/' + $raleway-heavy + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-heavy + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-heavy + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-heavy + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-light;
	src: url('../fonts/' + $raleway-light + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-light + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-light + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-light + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-medium;
	src: url('../fonts/' + $raleway-medium + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-medium + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-medium + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-medium + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-regular;
	src: url('../fonts/' + $raleway-regular + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-regular + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-regular + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-regular + '.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-semibold;
	src: url('../fonts/' + $raleway-semibold + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-semibold + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-semibold + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-semibold + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: $raleway-thin;
	src: url('../fonts/' + $raleway-thin + '.eot'); /* IE9 Compat Modes */
	src: url('../fonts/' + $raleway-thin + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/' + $raleway-thin + '.woff') format('woff'), /* Modern Browsers */
		url('../fonts/' + $raleway-thin + '.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}