a,
button {
	&:hover {
		cursor: pointer;
	}
}

button {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	font-size: 13px;
	letter-spacing: 3px;
	outline: none;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
}