/**
 * Globals
 */

a,
button {
	&:hover {
		cursor: pointer;
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

button {
	@include border();
	padding: 0px;
	outline: none;
}

input {
	border: none;
	outline: none;
	padding: 0px;
}

svg {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 2px;
}