.orch-container-12 {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;

	.orch-grid-1,
	.orch-grid-2,
	.orch-grid-3,
	.orch-grid-4,
	.orch-grid-5,
	.orch-grid-6,
	.orch-grid-7,
	.orch-grid-8,
	.orch-grid-9,
	.orch-grid-10,
	.orch-grid-11,
	.orch-grid-12 {
		display: inline;
		float: left;
		margin-left: 10px;
		margin-right: 10px;

		&.alpha {
			margin-left: 0;
		}

		&.omega {
			margin-right: 0;
		}
	}

	.orch-grid-1 {
		width: 80px;
	}

	.orch-grid-2 {
		width: 180px;
	}

	.orch-grid-3 {
		width: 280px;
	}

	.orch-grid-4 {
		width: 380px;
	}

	.orch-grid-5 {
		width: 480px;
	}

	.orch-grid-6 {
		width: 580px;
	}

	.orch-grid-7 {
		width: 680px;
	}

	.orch-grid-8 {
		width: 780px;
	}

	.orch-grid-9 {
		width: 880px;
	}

	.orch-grid-10 {
		width: 980px;
	}

	.orch-grid-11 {
		width: 1080px;
	}

	.orch-grid-12 {
		width: 1180px;
	}

	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.clearfix:before,
	.clearfix:after {
		content: "\0020";
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.clearfix:after {
		clear: both;
	}

	.clearfix {
		zoom: 1;
	}
}