@mixin disabled {
	background-color: $silver !important;
	border-color: $silver-dark !important;
	color: $silver-dark !important;
	cursor: default !important;

	svg {
		path {
			stroke: $silver-dark !important;
		}
	}
}

@mixin primaryNegativeAlt {
	background-color: $arctic-blue;
	border: 2px solid $arctic-blue-dark;
	color: $cloudy-blue-grey;

	&:hover {
		background-color: $arctic-blue-dark;
		color: $dusk-blue;
	}
}

@mixin primaryNegative {
	background-color: $pure-white;
	border: 2px solid $powder-blue;
	color: $powder-blue;

	&:hover {
		background-color: $arctic-blue;
	}
}

@mixin primaryNeutral {
	background-color: $powder-blue;
	border: 2px solid $powder-blue-dark;
	color: $pure-white;

	&:hover {
		background-color: $powder-blue-dark;
	}
}

@mixin primaryPositive {
	background-color: $mint-green;
	border: 2px solid $mint-green-dark;
	color: $pure-white;

	&:hover {
		background-color: $mint-green-dark;
	}
}

@mixin secondaryPositive {
	border: 2px solid $mint-green-dark;
	color: $dusk-blue;

	&:hover {
		background-color: $arctic-blue;
	}
}

@mixin secondaryNeutral {
	border: 2px solid $cloudy-blue-grey;
	color: $dusk-blue;

	&:hover {
		background-color: $arctic-blue;
	}
}