@mixin arcticBlueWrapper {
	@include borderRadius();
	background-color: $pure-white;
	border: 2px solid $arctic-blue;
	color: $dusk-blue;
}

@mixin borderRadius {
	border-radius: 3px;
}

@mixin cloudyBlueGreyWrapper {
	@include borderRadius();
	background-color: $pure-white;
	border: 2px solid $cloudy-blue-grey;
	color: $dusk-blue;
}

@mixin disabled {
	background-color: $silver !important;
	border-color: $silver-dark !important;
	color: $silver-dark !important;
	cursor: default !important;

	svg {
		border-color: $silver-dark !important;

		ellipse,
		path {
			stroke: $silver-dark !important;
		}

		text {
			fill: $silver-dark !important;
		}
	}
}

@mixin primaryNegativeAlternative {
	background-color: $arctic-blue;
	border: 2px solid $arctic-blue-dark;
	color: $cloudy-blue-grey;

	&:hover {
		background-color: $arctic-blue-dark;
		color: $dusk-blue;
	}
}

@mixin primaryNegative {
	background-color: $pure-white;
	border: 2px solid $powder-blue;
	color: $powder-blue;

	&:hover {
		background-color: $arctic-blue;
	}

	svg {
		path {
			stroke: $powder-blue;
		}
	}
}

@mixin primaryNeutral {
	background-color: $powder-blue;
	border: 2px solid $powder-blue-dark;
	color: $pure-white;

	&:hover {
		background-color: $powder-blue-dark;
	}

	svg {
		path {
			stroke: $pure-white;
		}
	}
}

@mixin primaryPositive {
	background-color: $mint-green;
	border: 2px solid $mint-green-dark;
	color: $pure-white;

	&:hover {
		background-color: $mint-green-dark;
	}

	svg {
		path {
			stroke: $pure-white;
		}
	}
}

@mixin secondaryPositive {
	border: 2px solid $mint-green-dark;
	color: $dusk-blue;

	&:hover {
		background-color: $arctic-blue;
	}
}

@mixin secondaryNeutral {
	border: 2px solid $cloudy-blue-grey;
	color: $dusk-blue;

	&:hover {
		background-color: $arctic-blue;
	}
}