/**
 * Helpers
 */

@mixin border {
	border: 2px solid;
	border-radius: 3px;
}

@mixin disabled($background: $silver) {
	background-color: #{$background} !important;
	border-color: $silver-dark !important;
	color: $silver-dark !important;
	cursor: default !important;

	input {
		background-color: $pure-white;

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-input-placeholder {
			color: $silver-dark;
		}
	}

	svg {
		border-color: $silver-dark !important;

		ellipse,
		path {
			stroke: $silver-dark !important;
		}

		text {
			fill: $silver-dark !important;
		}
	}
}

/**
 * Content wrappers
 */

@mixin arcticBlueDarkWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $arctic-blue-dark;
	color: #{$color};
}

@mixin cloudyBlueGreyWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $cloudy-blue-grey;
	color: #{$color};
}

@mixin mintGreenDarkWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $mint-green-dark;
	color: #{$color};
}

@mixin powderBlueWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $powder-blue;
	color: #{$color};
}

@mixin powderBlueDarkWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $powder-blue-dark;
	color: #{$color};
}

@mixin watermelonWrapper($background: $pure-white, $color: $dusk-blue) {
	@include border();
	background-color: #{$background};
	border-color: $watermelon;
	color: #{$color};
}

/**
 * Primary patterns
 */

@mixin primaryNegativeAlternative {
	@include arcticBlueDarkWrapper($arctic-blue, $cloudy-blue-grey);

	&:hover {
		background-color: $arctic-blue-dark;
		color: $dusk-blue;
	}
}

@mixin primaryNegative {
	@include powderBlueWrapper($pure-white, $powder-blue);

	&:hover {
		border-color: $powder-blue;
		background-color: $arctic-blue;
	}

	svg {
		path {
			stroke: $powder-blue;
		}
	}
}

@mixin primaryNeutral {
	@include powderBlueDarkWrapper($powder-blue, $pure-white);

	&:hover {
		border-color: $powder-blue-dark;
		background-color: $powder-blue-dark;
	}

	svg {
		path {
			stroke: $pure-white;
		}
	}
}

@mixin primaryPositive {
	@include mintGreenDarkWrapper($mint-green, $pure-white);

	&:hover {
		border-color: $mint-green-dark;
		background-color: $mint-green-dark;
	}

	svg {
		path {
			stroke: $pure-white;
		}
	}
}

/**
 * Secondary patterns
 */

@mixin secondaryNeutral {
	@include cloudyBlueGreyWrapper($color: $dusk-blue);

	&:hover {
		background-color: $arctic-blue;
	}
}

@mixin secondaryPositive {
	@include mintGreenDarkWrapper($color: $dusk-blue);

	&:hover {
		background-color: $arctic-blue;
	}
}