.orch-action-dropdown {
	background-color: $pure-white;
	border-left: 2px solid $arctic-blue-dark;
	color: $steel-blue;
	font-family: $lato-regular;
	font-size: 16px;
	padding: 14px 15px;
	position: relative;

	&.icon,
	&.state {
		float: left;
	}

	&:hover {
		background-color: $arctic-blue;
		color: $dusk-blue !important;
		cursor: pointer;
	}

	> .chevron {
		display: inline-block;
		float: right;
		position: relative;
		right: -4px;
		transform: rotate(180deg);

		svg {
			path {
				stroke: $cloudy-blue-grey;
			}
		}
	}

	.orch-action-menu {
		color: $steel-blue;
		font-family: $lato-regular;
		font-size: 14px;
		position: absolute;

		&.left,
		&.right {
			top: 60px;
		}

		&.left {
			left: -1px;
		}

		&.right {
			right: -1px;
		}
	}

	&:hover {
		> .chevron {
			transform: rotate(0deg);

			svg {
				path {
					stroke: $dusk-blue;
				}
			}
		}
	}
}