.orch-action-dropdown {
	border-left: 2px solid $arctic-blue;
	border-right: 2px solid $arctic-blue;
	color: $steel-blue;
	font-family: $lato-regular;
	font-size: 16px;
	padding: 21px 15px;

	&:hover {
		background-color: $arctic-blue;
		color: $dusk-blue !important;
		cursor: pointer;
	}

	.chevron {
		display: inline-block;
		float: right;
		position: relative;
		right: -4px;
		top: -1px;
		transform: rotate(180deg);

		svg {
			path {
				stroke: $cloudy-blue-grey;
			}
		}
	}

	&:hover {
		.chevron {
			top: 3px;
			transform: rotate(0deg);

			svg {
				path {
					stroke: $dusk-blue;
				}
			}
		}
	}
}