.orch-partial {
	background-color: transparent;
	border: none;
	height: 34px;
	outline: none;
	width: 44px;

	svg {
		height: 24px;
		stroke-width: 1.5px;
		vertical-align: middle;
		width: 24px;
	}

	&:disabled {
		@include disabled();
	}
}