button {
	&.secondary {
		background-color: transparent;
		border: none;
		font-family: $lato-regular;
		font-size: 14px;
		height: 34px;
		padding: 6px 12px;

		.icon,
		.text {
			display: inline-block;
			float: left;
		}

		.icon {
			border-right: 2px solid $cloudy-blue-grey;
			padding-right: 10px;
			width: 20px;
		}

		.text {
			padding-left: 10px;
		}
	}
}