button {
	&.secondary {
		background-color: transparent;
		border: none;
		box-sizing: border-box;
		font-size: 14px;
		padding: 4px 10px;

		.text {
			padding-left: 5px;
		}

		svg {
			border-right: 2px solid $cloudy-blue-grey;
			padding-right: 10px;
			height: 22px;
			vertical-align: middle;
			width: 22px;
		}

		&:disabled {
			@include disabledButton();
		}
	}
}