$svgWidth: 24px;
$orchPaddingLeftAndRight: 10px;

.orch-secondary {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	font-family: $lato-regular;
	font-size: 14px;
	padding: 3px $orchPaddingLeftAndRight;

	.item,
	.text,
	svg {
		display: inline;
		float: left;
	}

	.item,
	.text {
		height: 24px;
		padding-left: 7px;
	}

	.item {
		width: calc(100% - #{$orchPaddingLeftAndRight * 2} - #{$svgWidth});
		width: -moz-calc(100% - #{$orchPaddingLeftAndRight * 2} - #{$svgWidth});
		width: -webkit-calc(100% - #{$orchPaddingLeftAndRight * 2} - #{$svgWidth});
	}

	.text {
		line-height: 24px;
	}

	svg {
		border-right: 2px solid $cloudy-blue-grey;
		padding-right: 10px;
		height: 24px;
		stroke-width: 1.5px;
		vertical-align: middle;
		width: $svgWidth;
	}

	&:disabled {
		@include disabled();
	}
}