.orch-sub-header {
	@include arcticBlueDarkWrapper();
	font-family: $lato-regular;
	font-size: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	width: inherit;

	.title,
	.widgets {
		display: inline-block;
	}

	.title {
		float: left;
	}

	.widgets {
		float: right;

		> * {
			margin-left: 15px;

			&:first-child {
				margin-left: 0px;
			}
		}
	}
}