.orch-sub-header {
	@include arcticBlueDarkWrapper();
	font-family: $lato-regular;
	font-size: 18px;
	width: inherit;

	.title,
	.widgets {
		display: inline-block;
	}

	.title {
		float: left;
		letter-spacing: 2px;
		text-transform: capitalize;
	}

	.widgets {
		float: right;

		> * {
			margin-left: 15px;

			&:first-child {
				margin-left: 0px;
			}
		}
	}
}