.orch-links-sub-header {
	a {
		color: $arctic-blue-dark;
		cursor: pointer;
		display: inline-block;
		padding: 19px 20px;
		text-decoration: none;

		&.active {
			border-bottom: 4px solid $IP-blue;
			color: $dusk-blue;
			cursor: default;
		}

		&:hover {
			color: $dusk-blue;
		}
	}

	.widgets {
		margin-right: 20px;
		padding: 13px 0px;
	}
}