.orch-checkbox {
	display: inline-block;

	.checkbox {
		@include arcticBlueDarkWrapper($box-sizing: 'none');
		cursor: pointer;
		display: inline-block;
		height: 20px;
		margin-right: 20px;
		position: relative;
		width: 20px;
		vertical-align: middle;

		& + label {
			color: $steel-blue;
			cursor: pointer;
			font-family: $lato-regular;
			font-size: 14px;
		}

		&.checked {
			@include ipBlueDarkWrapper($IP-blue, $box-sizing: 'none');
			@include shadow($spread: 1px);

			&:hover {
				@include ipBlueDarkWrapper($IP-blue-dark, $box-sizing: 'none');
			}

			& + label {
				color: $dusk-blue;
			}

			&.disabled {
				@include disabled($input-background-color: $silver, $svg-path-color: $pure-white);
			}
		}

		&.disabled {
			@include disabled($input-background-color: $pure-white);
		}

		&:hover {
			@include arcticBlueDarkWrapper($arctic-blue-dark, $box-sizing: 'none');
		}

		input {
			appearance: none;
			cursor: pointer;
			height: inherit;
			-moz-appearance: none;
			-webkit-appearance: none;
			width: inherit;
		}

		svg {
			left: 5px;
			position: absolute;
			top: 5px;
		}
	}
}