.orch-checkbox {
	@include arcticBlueDarkWrapper();
	cursor: pointer;
	display: inline-block;
	height: 24px;
	position: relative;
	width: 24px;

	&.checked {
		@include ipBlueDarkWrapper($IP-blue);
		@include shadow($spread: 1px);

		&:hover {
			@include ipBlueDarkWrapper($IP-blue-dark);
		}
	}

	&.disabled {
		@include disabled($input-background-color: $silver, $svg-path-color: $pure-white);
	}

	&:hover {
		@include arcticBlueDarkWrapper($arctic-blue-dark);
	}

	input {
		appearance: none;
		cursor: pointer;
		height: inherit;
		-webkit-appearance: none;
		width: inherit;
	}

	svg {
		left: 6px;
		position: absolute;
		top: 7px;
	}
}