.orch-input {
	cursor: pointer;
	width: inherit;

	&.orch-secondary {
		@include arcticBlueDarkWrapper();

		&:hover {
			@include powderBlueWrapper();
		}
	}

	input {
		background-color: $pure-white;
		color: $dusk-blue;
		font-family: $lato-regular;
		font-size: 14px;
		height: inherit;
		padding: 0px;
		width: 100%;

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-input-placeholder {
			color: $cloudy-blue-grey;
		}
	}

	&.disabled {
		@include disabled($pure-white);
	}

	&.error {
		@include watermelonWrapper();

		&:hover {
			@include watermelonWrapper();
		}
	}

	&.focus {
		@include focus();
	}
}