.orch-slider {
	@include sliderDisplay();
	width: 200px;

	> label {
		display: inline-block;
		width: 15px;

		&:first-child {
			margin-right: 10px;
		}
	}

	.slider {
		float: left;
		width: 150px;
		top: 6px;

		@include slider();

		.track {
			width: 150px;
		}

	}

	.slider-display {
		.orch-input {
			&.focus {
				.item {
					width: 35px;
				}
			}
		}
	}
}
