$dropdown-height: 34px;
$chevron-width: 24px;

.orch-dropdown,
.orch-generic-dropdown {
	color: $dusk-blue;
	cursor: pointer;
	position: relative;

	.orch-generic-menu {
		display: none;
	}

	&.active {
		z-index: 100;

		.orch-generic-menu {
			display: block;
		}
	}

	.selector {
		@include arcticBlueDarkWrapper();

		box-sizing: border-box;
		font-family: $lato-regular;
		font-size: 14px;
		height: $dropdown-height;
		padding-left: 15px;
		padding-right: 10px;
		position: relative;
		width: 100%;

		.text {
			box-sizing: border-box;
			float: left;
			line-height: 30px;
			overflow: hidden;
			text-align: left;
			text-overflow: ellipsis;
			user-select: none;
			white-space: nowrap;
			width: calc(100% - #{$chevron-width});
		}
	}

	.chevron {
		float: right;
		transform: rotate(180deg);
		width: $chevron-width;
		height: 100%;

		&.flip {
			transform: rotate(180deg);
		}

		svg {
			height: inherit;

			path {
				stroke: $cloudy-blue-grey;
			}
		}
	}

	&.active {
		.selector {
			border: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.chevron {
			transform: rotate(0deg);

			svg {
				path {
					stroke: $dusk-blue;
				}
			}
		}
	}

	&.disabled {
		.selector {
			@include disabled($pure-white);
		}
	}

	&:hover {
		.selector {
			border-color: $powder-blue;
		}
	}
}