.orch-resource-action-dropdown {
	&.orch-action-dropdown {
		width: 120px;

		> .chevron {
			top: -1px;
		}

		.icon,
		.state {
			display: inline-block;
		}

		.icon {
			svg {
				margin-right: 10px;
				vertical-align: middle;
			}
		}

		&.saved {
			color: $mint-green;
		}

		&.update {
			color: $IP-blue;
		}

		&:hover {
			> .chevron {
				top: 3px;
			}
		}
	}
}