.orch-value-action-dropdown {
	&.orch-action-dropdown {
		width: 200px;

		> .chevron {
			top: 1px;
		}

		.orch-action-menu {
			position: absolute;
			top: 60px;
		}

		.title,
		.value {
			display: inline-block;
		}

		.value {
			background-color: $arctic-blue-dark;
			border-radius: 100px;
			color: $steel-blue;
			font-family: $lato-black;
			padding-bottom: 7px;
			padding-top: 6px;
			margin-right: 10px;
			text-align: center;
			width: 50px;

			&.greater-than-zero {
				background-color: $goldenrod-dark;
				color: $pure-white;
			}
		}

		&:hover {
			> .chevron {
				top: 5px;
			}
		}
	}
}